<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Borrowing History - Book4U</title>
    <link rel="stylesheet" href="../static/css/BorrowingHistory.css" />
    <link rel="stylesheet" href="../static/css/Header.css" />
    <link rel="stylesheet" href="../static/css/Footer.css" />
  </head>
  <body>
    <!-- Header placeholder -->
    <div id="header"></div>

    <!-- Main content -->
    <div id="app" class="container"></div>

    <!-- Footer placeholder -->
    <div id="footer"></div>

    <script src="../static/js/BorrowingHistory.js"></script>

    <script src="../static/js/layout.js"></script>
  </body>
</html>
